.git
.gitignore
README.md
.env
*.log
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
pip-log.txt
.tox
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis
.pytest_cache
.idea
.vscode
.DS_Store
Dockerfile
docker-compose.yml
docer-compose.yaml
.dockerignore
staticfiles/
mediafiles/
db.sqlite3
